@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yeseva;
  src: url("./assets/fonts/Yeseva/YesevaOne-Regular.ttf");
}
@font-face {
  font-family: Urbanist-Medium;
  src: url("./assets/fonts/Urbanist/Urbanist-Medium.ttf");
}

.canvas-element > *{
  cursor:
    url(./assets/cursor/plus1-svgrepo-com.svg) 32 32,
    pointer;
}


.info{
  /* width: 100px;
  height: 80vh;
  position: absolute;
  left: 0px;  
  background-color: red; */
  z-index: 10000;
  left: 50px;
  transition: left 0.5s;
}

.hideMe{
  left: -300px;
  transition: left 0.5s;
}