@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yeseva;
  src: url("./assets/fonts/Yeseva/YesevaOne-Regular.ttf");
}
@font-face {
  font-family: Urbanist-Medium;
  src: url("./assets/fonts/Urbanist/Urbanist-Medium.ttf");
}

body {
  background-color: rgb(73, 68, 60);
  color: #f4f4f4;
}

.canvas-element > * {
  cursor:
    url(./assets/cursor/plus1-svgrepo-com.svg) 32 32,
    pointer;
}

.info {
  z-index: 5;
  left: 50px;
  transition: left 0.5s;
}
.animate-mobile-menu-in {
  animation: animation-opacity-in 1s cubic-bezier(0.41, -0.67, 0.66, 1.73) 0s 1 forwards;
}
.animate-mobile-menu-out {
  animation: animation-opacity-in 2s reverse cubic-bezier(0.41, -0.67, 0.66, 1.73) 0s 1
    forwards;
}
.hidden{
  display: none;
}

@keyframes animation-opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hideMe {
  left: -300px;
  transition: left 0.5s;
}
@media screen and (max-width: 600px) {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

:root {
  --scrollbar-bg: #333;
  --scrollbar-bg-over: rgb(164, 220, 228);
  --scrollbar-color: rgb(113, 195, 206);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-bg-over);
}

#sidebar-nav > * {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg);
  scrollbar-width: thin;
}
